<div class="contact">
    <h1 class="contact_header">Contact</h1>
    <div class="contact_list">
        <div class="contact_item">
            <i class="fas fa-envelope"></i> Email
            <div class="contact_text">darrenyan0746@gmail.com</div>
        </div>
        <div class="contact_item">
            <i class="fas fa-mobile-alt"></i> Phone
            <div class="contact_text">(███) ███-████</div>
        </div>
        <div class="contact_item">
            <i class="fas fa-building"></i> Address
            <div class="contact_text">███ ██████████ New York, NY</div>
        </div>
    </div>
</div>